DATABASE_URL="postgresql://..."
WORKOS_API_KEY="sk_..."
WORKOS_CLIENT_ID="client_..."
WORKOS_COOKIE_PASSWORD="replace-with-at-least-32-characters"
NEXT_PUBLIC_WORKOS_REDIRECT_URI="http://localhost:3000/callback"
WORKOS_ORGANIZATION_ID="org_..."
WORKOS_DEMO_USER_EMAIL="alice@example.com"
APP_URL="http://localhost:3000"
